In [1]:
using DataFrames
using Dates

#### Loading data

In [16]:
@time optData = readtable("../data/intmed_data/optData.csv")

head(optData)

elapsed time: 12.954250909 seconds (3564920424 bytes allocated, 11.75% gc time)

6x12 DataFrame
| Row | Date   | Option_Price | Bid | Ask | Volume | Open_Interest | Strike |
|-----|--------|--------------|-----|-----|--------|---------------|--------|
| 1   | 732495 | 3931.1       | NA  | NA  | 1      | 104           | 1800   |
| 2   | 732495 | 0.1          | NA  | NA  | 0      | 5515          | 1800   |
| 3   | 732495 | 3734.0       | NA  | NA  | 0      | 2152          | 2000   |
| 4   | 732495 | 0.1          | NA  | NA  | 0      | 20941         | 2000   |
| 5   | 732495 | 3536.9       | NA  | NA  | 0      | 2             | 2200   |
| 6   | 732495 | 0.1          | NA  | NA  | 0      | 4626          | 2200   |

| Row | Expiry | DAX     | EONIA_matched | Time_to_Maturity | IsCall |
|-----|--------|---------|---------------|------------------|--------|
| 1   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   |
| 2   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  |
| 3   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   |
| 4   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  |
| 5   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   |
| 6   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  |

#### Split data into tables

- get **underlying**: get value for each day, transform dates to `Date` type

In [18]:
underlyingRaw = unique([optData[:Date].data optData[:DAX].data], 1)

dats = Date[Date(Dates.UTD(int(x))) for x in underlyingRaw[:, 1]]
underlying = DataFrame(Date = dats, DAX = underlyingRaw[:, 2])

head(underlying)

6x2 DataFrame
| Row | Date       | DAX     |
|-----|------------|---------|
| 1   | 2006-07-03 | 5712.69 |
| 2   | 2006-07-04 | 5729.01 |
| 3   | 2006-07-05 | 5625.63 |
| 4   | 2006-07-06 | 5695.47 |
| 5   | 2006-07-07 | 5681.85 |
| 6   | 2006-07-10 | 5706.32 |

In [19]:
function getAllOptions_num_dates(df::DataFrame)
    arrData = [df[:Strike].data df[:Expiry].data df[:IsCall].data]
    return unique(arrData, 1)
end

@time allOpts = getAllOptions_num_dates(optData)
size(allOpts)

elapsed time: 0.47628593 seconds (93393484 bytes allocated, 7.37% gc time)

(12917,3)

In [36]:
# sort options
df = DataFrame(Strike = allOpts[:, 1], Expiry = allOpts[:, 2], IsCall = allOpts[:, 3])
df_sorted = sort(df, cols = [:Expiry, :IsCall, :Strike])

head(df_sorted)

6x3 DataFrame
| Row | Strike | Expiry | IsCall |
|-----|--------|--------|--------|
| 1   | 4200   | 732513 | 0      |
| 2   | 4300   | 732513 | 0      |
| 3   | 4400   | 732513 | 0      |
| 4   | 4500   | 732513 | 0      |
| 5   | 4600   | 732513 | 0      |
| 6   | 4700   | 732513 | 0      |

In [39]:
# create string identifiers (allows usage as column names)
ids = String[string("o", x) for x in 1:size(df_sorted, 1)]

12917-element Array{String,1}:
 "o1"
 "o2"
 "o3"
 "o4"
 "o5"
 "o6"
 "o7"
 "o8"
 "o9"
 "o10"
 "o11"
 "o12"
 "o13"
 ⋮
 "o12906"
 "o12907"
 "o12908"
 "o12909"
 "o12910"
 "o12911"
 "o12912"
 "o12913"
 "o12914"
 "o12915"
 "o12916"
 "o12917"

In [41]:
# get expiry dates as Date
expy = df_sorted[:Expiry]
expyDats = Date[Date(Dates.UTD(int(x))) for x in expy]

12917-element Array{Date,1}:
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 2006-07-21
 ⋮
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19
 2014-12-19

In [43]:
opts = DataFrame(ID = ids, Expiry = expyDats, Strike = df_sorted[:Strike], IsCall = df_sorted[:IsCall])
head(opts)

6x4 DataFrame
| Row | ID   | Expiry     | Strike | IsCall |
|-----|------|------------|--------|--------|
| 1   | "o1" | 2006-07-21 | 4200   | 0      |
| 2   | "o2" | 2006-07-21 | 4300   | 0      |
| 3   | "o3" | 2006-07-21 | 4400   | 0      |
| 4   | "o4" | 2006-07-21 | 4500   | 0      |
| 5   | "o5" | 2006-07-21 | 4600   | 0      |
| 6   | "o6" | 2006-07-21 | 4700   | 0      |

In [52]:
obs_optParams = [array(optData[[:Expiry, :Strike]]) optData[:IsCall]]

2025129x3 Array{Int64,2}:
 732660  1800  1
 732660  1800  0
 732660  2000  1
 732660  2000  0
 732660  2200  1
 732660  2200  0
 732660  2400  1
 732660  2400  0
 732660  2600  0
 732660  2800  1
 732660  2800  0
 732660  3000  1
 732660  3000  0
      ⋮
 735250  9650  0
 735250  9700  1
 735250  9700  0
 735250  9750  1
 735250  9750  0
 735250  9800  1
 735250  9800  0
 735250  9850  1
 735250  9900  1
 735250  9900  0
 735250  9950  1
 735250  9950  0

In [59]:
numDates = Int[Dates.value(x) for x in opts[:Expiry]]
opts_optParams = [numDates array(opts[[:Strike, :IsCall]])]

12917x3 Array{Int64,2}:
 732513   4200  0
 732513   4300  0
 732513   4400  0
 732513   4500  0
 732513   4600  0
 732513   4700  0
 732513   4800  0
 732513   4850  0
 732513   4900  0
 732513   4950  0
 732513   5000  0
 732513   5050  0
 732513   5100  0
      ⋮
 735586  10000  1
 735586  10100  1
 735586  10200  1
 735586  10300  1
 735586  10400  1
 735586  10500  1
 735586  10600  1
 735586  10700  1
 735586  11000  1
 735586  11400  1
 735586  11600  1
 735586  12000  1

- get option ID for each observation

In [72]:
function findEqualRow(rowToFind::Array{Int, 2}, listedRows::Array{Int, 2})
    nRows, nCols = size(listedRows)
    equTrue = trues(nRows)
    for jj=1:nCols
        equTrue = equTrue & (listedRows[:, jj] .== rowToFind[1, jj])
    end
    return find(equTrue)
end

findEqualRow (generic function with 1 method)

In [73]:
findEqualRow(obs_optParams[1200, :], opts_optParams)

1-element Array{Int64,1}:
 226

In [74]:
obs_optParams[1200,:]

1x3 Array{Int64,2}:
 732569  6500  0

In [75]:
opts_optParams[226, :]

1x3 Array{Int64,2}:
 732569  6500  0

In [82]:
@time begin 
    nObs = size(obs_optParams, 1)
    obs_optIDs = Array(String, nObs)
    for ii=1:nObs
        currParams = obs_optParams[ii, :]
        ind = findEqualRow(currParams, opts_optParams)[1]
        obs_optIDs[ii] = opts[ind, :ID]
    end
end

elapsed time: 2269.044490644 seconds (684330751480 bytes allocated, 85.27% gc time)

In [83]:
obs_optIDs

2025129-element Array{String,1}:
 "o530"
 "o457"
 "o531"
 "o458"
 "o532"
 "o459"
 "o533"
 "o460"
 "o461"
 "o534"
 "o462"
 "o535"
 "o463"
 ⋮
 "o12200"
 "o12257"
 "o12201"
 "o12258"
 "o12202"
 "o12259"
 "o12203"
 "o12260"
 "o12261"
 "o12204"
 "o12262"
 "o12205"

In [86]:
optData[:ID] = obs_optIDs
head(optData)

6x13 DataFrame
| Row | Date   | Option_Price | Bid | Ask | Volume | Open_Interest | Strike |
|-----|--------|--------------|-----|-----|--------|---------------|--------|
| 1   | 732495 | 3931.1       | NA  | NA  | 1      | 104           | 1800   |
| 2   | 732495 | 0.1          | NA  | NA  | 0      | 5515          | 1800   |
| 3   | 732495 | 3734.0       | NA  | NA  | 0      | 2152          | 2000   |
| 4   | 732495 | 0.1          | NA  | NA  | 0      | 20941         | 2000   |
| 5   | 732495 | 3536.9       | NA  | NA  | 0      | 2             | 2200   |
| 6   | 732495 | 0.1          | NA  | NA  | 0      | 4626          | 2200   |

| Row | Expiry | DAX     | EONIA_matched | Time_to_Maturity | IsCall | ID     |
|-----|--------|---------|---------------|------------------|--------|--------|
| 1   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   | "o530" |
| 2   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  | "o457" |
| 3   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   | "o531" |
| 4   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  | "o458" |
| 5   | 732660 | 5712.69 | 0.0316676     | 0.466667         | true   | "o532" |
| 6   | 732660 | 5712.69 | 0.0316676     | 0.466667         | false  | "o459" |

In [91]:
writetable("../data/rel_data/optData.csv", optData)
writetable("../data/rel_data/underlying.csv", underlying)
writetable("../data/rel_data/opts.csv", opts)

- transform to dates

In [3]:
function num2date(numb::Int64)
    return Date(Dates.UTD(numb))
end
function num2date(numb::Array{Int64})
    nDats = size(numb, 1)
    dats = Array(Date, nDats)
    for ii=1:nDats
        dats[ii] = num2date(numb[ii])
    end
    return dats
end

@time begin
    optData[:Date] = num2date(optData[:Date].data)
    optData[:Expiry] = num2date(optData[:Expiry].data)
end
optData

elapsed time: 0.053756241 seconds (33650864 bytes allocated)

2025129x12 DataFrame
| Row     | Date       | Option_Price | Bid   | Ask   | Volume | Open_Interest |
|---------|------------|--------------|-------|-------|--------|---------------|
| 1       | 2006-07-03 | 3931.1       | NA    | NA    | 1      | 104           |
| 2       | 2006-07-03 | 0.1          | NA    | NA    | 0      | 5515          |
| 3       | 2006-07-03 | 3734.0       | NA    | NA    | 0      | 2152          |
| 4       | 2006-07-03 | 0.1          | NA    | NA    | 0      | 20941         |
| 5       | 2006-07-03 | 3536.9       | NA    | NA    | 0      | 2             |
| 6       | 2006-07-03 | 0.1          | NA    | NA    | 0      | 4626          |
| 7       | 2006-07-03 | 3339.8       | NA    | NA    | 0      | 2009          |
| 8       | 2006-07-03 | 0.1          | NA    | NA    | 0      | 13367         |
| 9       | 2006-07-03 | 0.2          | NA    | NA    | 0      | 2297          |
| 10      | 2006-07-03 | 2945.9       | NA    | NA    | 0      | 624           |
| 11      | 2006-07-03 | 0.5          | NA    | NA    | 0      | 6213          |
⋮
| 2025118 | 2013-12-30 | 140.0        | 147.0 | 153.8 | 2300   | 2311          |
| 2025119 | 2013-12-30 | 63.6         | 57.4  | 58.3  | 412    | 7633          |
| 2025120 | 2013-12-30 | 169.9        | 174.7 | 185.9 | 19     | 76            |
| 2025121 | 2013-12-30 | 47.2         | 41.1  | 42.7  | 180    | 6237          |
| 2025122 | 2013-12-30 | 203.5        | 208.4 | 222.6 | 0      | 10            |
| 2025123 | 2013-12-30 | 34.4         | 29.7  | 31.1  | 1795   | 14802         |
| 2025124 | 2013-12-30 | 240.7        | 245.6 | 262.7 | 0      | 92            |
| 2025125 | 2013-12-30 | 24.8         | 21.3  | 22.6  | 118    | 1908          |
| 2025126 | 2013-12-30 | 17.7         | 15.0  | 16.4  | 1100   | 3989          |
| 2025127 | 2013-12-30 | 324.0        | 328.6 | 349.8 | 5      | 5             |
| 2025128 | 2013-12-30 | 12.6         | 10.7  | 12.1  | 9      | 428           |
| 2025129 | 2013-12-30 | 368.9        | 374.2 | 398.0 | 1      | 1             |

| Row     | Strike | Expiry     | DAX     | EONIA_matched | Time_to_Maturity |
|---------|--------|------------|---------|---------------|------------------|
| 1       | 1800   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 2       | 1800   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 3       | 2000   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 4       | 2000   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 5       | 2200   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 6       | 2200   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 7       | 2400   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 8       | 2400   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 9       | 2600   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 10      | 2800   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
| 11      | 2800   | 2006-12-15 | 5712.69 | 0.0316676     | 0.466667         |
⋮
| 2025118 | 9650   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025119 | 9700   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025120 | 9700   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025121 | 9750   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025122 | 9750   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025123 | 9800   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025124 | 9800   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025125 | 9850   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025126 | 9900   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025127 | 9900   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025128 | 9950   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |
| 2025129 | 9950   | 2014-01-17 | 9552.16 | 0.00207379    | 0.0470588        |

| Row     | IsCall |
|---------|--------|
| 1       | true   |
| 2       | false  |
| 3       | true   |
| 4       | false  |
| 5       | true   |
| 6       | false  |
| 7       | true   |
| 8       | false  |
| 9       | false  |
| 10      | true   |
| 11      | false  |
⋮
| 2025118 | false  |
| 2025119 | true   |
| 2025120 | false  |
| 2025121 | true   |
| 2025122 | false  |
| 2025123 | true   |
| 2025124 | false  |
| 2025125 | true   |
| 2025126 | true   |
| 2025127 | false  |
| 2025128 | true   |
| 2025129 | false  |

In [6]:
df = DataFrame(a = [3, 4], b = [5, 3], "4" = [4, 2])

LoadError: syntax: keyword argument is not a symbol: "4"
while loading In[6], in expression starting on line 1

- arbitrarily select an expiry date

In [6]:
chosenExpiry = unique(optData[:Expiry])[35]

2008-08-15

- get all option data with given expiry date

In [8]:
inds = optData[:Expiry] .== chosenExpiry
expiryData = optData[inds, :]

5961x12 DataFrame
| Row  | Date       | Option_Price | Bid | Ask | Volume | Open_Interest |
|------|------------|--------------|-----|-----|--------|---------------|
| 1    | 2008-05-19 | 87.1         | NA  | NA  | 785    | 750           |
| 2    | 2008-05-19 | 104.2        | NA  | NA  | 2      | 2             |
| 3    | 2008-05-19 | 113.7        | NA  | NA  | 66     | 66            |
| 4    | 2008-05-19 | 124.2        | NA  | NA  | 4      | 4             |
| 5    | 2008-05-19 | 135.5        | NA  | NA  | 380    | 380           |
| 6    | 2008-05-19 | 147.6        | NA  | NA  | 5      | 5             |
| 7    | 2008-05-19 | 306.8        | NA  | NA  | 32     | 30            |
| 8    | 2008-05-19 | 275.6        | NA  | NA  | 5      | 5             |
| 9    | 2008-05-19 | 246.0        | NA  | NA  | 5      | 5             |
| 10   | 2008-05-19 | 218.2        | NA  | NA  | 75     | 75            |
| 11   | 2008-05-19 | 192.0        | NA  | NA  | 100    | 100           |
⋮
| 5950 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 4649          |
| 5951 | 2008-08-14 | 1353.2       | NA  | NA  | 0      | 2             |
| 5952 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 50            |
| 5953 | 2008-08-14 | 1403.2       | NA  | NA  | 0      | 50            |
| 5954 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 767           |
| 5955 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 705           |
| 5956 | 2008-08-14 | 1503.2       | NA  | NA  | 0      | 4             |
| 5957 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 442           |
| 5958 | 2008-08-14 | 1553.2       | NA  | NA  | 0      | 54            |
| 5959 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 100           |
| 5960 | 2008-08-14 | 0.1          | NA  | NA  | 0      | 17            |
| 5961 | 2008-08-14 | 1653.2       | NA  | NA  | 0      | 60            |

| Row  | Strike | Expiry     | DAX     | EONIA_matched | Time_to_Maturity |
|------|--------|------------|---------|---------------|------------------|
| 1    | 6700   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 2    | 6800   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 3    | 6850   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 4    | 6900   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 5    | 6950   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 6    | 7000   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 7    | 7200   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 8    | 7250   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 9    | 7300   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 10   | 7350   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
| 11   | 7400   | 2008-08-15 | 7225.94 | 0.0474535     | 0.25098          |
⋮
| 5950 | 7800   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5951 | 7800   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5952 | 7850   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5953 | 7850   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5954 | 7900   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5955 | 7950   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5956 | 7950   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5957 | 8000   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5958 | 8000   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5959 | 8050   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5960 | 8100   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |
| 5961 | 8100   | 2008-08-15 | 6442.21 | 0.0429829     | 0.00392157       |

| Row  | IsCall |
|------|--------|
| 1    | false  |
| 2    | false  |
| 3    | false  |
| 4    | false  |
| 5    | false  |
| 6    | false  |
| 7    | true   |
| 8    | true   |
| 9    | true   |
| 10   | true   |
| 11   | true   |
⋮
| 5950 | true   |
| 5951 | false  |
| 5952 | true   |
| 5953 | false  |
| 5954 | true   |
| 5955 | true   |
| 5956 | false  |
| 5957 | true   |
| 5958 | false  |
| 5959 | true   |
| 5960 | true   |
| 5961 | false  |

In [10]:
writetable("../data/singleExpiry.csv", expiryData)