- this script will be called on each startup
- it loads the data
- transforms strings to `Date` type
- allows peeks into all database components

#### Load data and convert date columns to `Date` type

In [1]:
using DataFrames
using Dates

In [2]:
opts = readtable("../data/rel_data/opts.csv");

In [3]:
eltypes(opts)

4-element Array{Type{T<:Top},1}:
 UTF8String
 UTF8String
 Int64
 Bool

In [4]:
function convertColToDates!(df::DataFrame, col::Symbol)
    dats = Date(convert(Array, df[:, col]))
    df[col] = dats
end

convertColToDates! (generic function with 1 method)

In [5]:
@time convertColToDates!(opts, :Expiry)
eltypes(opts)

elapsed time: 0.506051534 seconds (52410100 bytes allocated, 8.53% gc time)

4-element Array{Type{T<:Top},1}:
 UTF8String
 Date
 Int64
 Bool

In [6]:
daxVals = readtable("../data/rel_data/daxVals.csv")
convertColToDates!(daxVals, :Date);

In [7]:
optPrices = readtable("../data/rel_data/optPrices.csv");

In [8]:
@time convertColToDates!(optPrices, :Date);

elapsed time: 58.756572836 seconds (5419744236 bytes allocated, 74.08% gc time)

In [9]:
cohortParams = readtable("../data/rel_data/cohortParams.csv");

In [10]:
@time begin
    convertColToDates!(cohortParams, :Expiry);
    convertColToDates!(cohortParams, :Date);
end

elapsed time: 0.779993041 seconds (112671656 bytes allocated, 59.07% gc time)

21053-element Array{Date,1}:
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-03
 2006-07-04
 2006-07-04
 â‹®
 2013-12-27
 2013-12-27
 2013-12-27
 2013-12-27
 2013-12-27
 2013-12-27
 2013-12-30
 2013-12-30
 2013-12-30
 2013-12-30
 2013-12-30
 2013-12-30

In [11]:
addObs = readtable("../data/rel_data/addObs.csv");
@time convertColToDates!(addObs, :Date);

elapsed time: 76.780937507 seconds (5419744236 bytes allocated, 79.63% gc time)

### Display relational database components

- `opts`: option ID together with option characterstics

In [12]:
head(opts)

6x4 DataFrame
| Row | ID                | Expiry     | Strike | IsCall |
|-----|-------------------|------------|--------|--------|
| 1   | "c_20061215_1800" | 2006-12-15 | 1800   | true   |
| 2   | "p_20061215_1800" | 2006-12-15 | 1800   | false  |
| 3   | "c_20061215_2000" | 2006-12-15 | 2000   | true   |
| 4   | "p_20061215_2000" | 2006-12-15 | 2000   | false  |
| 5   | "c_20061215_2200" | 2006-12-15 | 2200   | true   |
| 6   | "p_20061215_2200" | 2006-12-15 | 2200   | false  |

- `daxVals`: values of underlying for each date

In [13]:
head(daxVals)

6x2 DataFrame
| Row | Date       | DAX     |
|-----|------------|---------|
| 1   | 2006-07-03 | 5712.69 |
| 2   | 2006-07-04 | 5729.01 |
| 3   | 2006-07-05 | 5625.63 |
| 4   | 2006-07-06 | 5695.47 |
| 5   | 2006-07-07 | 5681.85 |
| 6   | 2006-07-10 | 5706.32 |

- `optPrices`: option prices for each day and option

In [14]:
head(optPrices)

6x3 DataFrame
| Row | Date       | ID                | Price  |
|-----|------------|-------------------|--------|
| 1   | 2006-07-03 | "c_20061215_1800" | 3931.1 |
| 2   | 2006-07-03 | "p_20061215_1800" | 0.1    |
| 3   | 2006-07-03 | "c_20061215_2000" | 3734.0 |
| 4   | 2006-07-03 | "p_20061215_2000" | 0.1    |
| 5   | 2006-07-03 | "c_20061215_2200" | 3536.9 |
| 6   | 2006-07-03 | "p_20061215_2200" | 0.1    |

- `cohortParams`: for each date time to maturity and interest rate up to expiry

In [15]:
head(cohortParams)

6x4 DataFrame
| Row | Date       | Expiry     | EONIA_matched | Time_to_Maturity |
|-----|------------|------------|---------------|------------------|
| 1   | 2006-07-03 | 2006-12-15 | 0.0316676     | 0.466667         |
| 2   | 2006-07-03 | 2006-09-15 | 0.0297573     | 0.211765         |
| 3   | 2006-07-03 | 2006-08-18 | 0.0290328     | 0.133333         |
| 4   | 2006-07-03 | 2006-07-21 | 0.0283102     | 0.054902         |
| 5   | 2006-07-03 | 2007-06-15 | 0.0342513     | 0.94902          |
| 6   | 2006-07-03 | 2007-03-16 | 0.0330876     | 0.709804         |

- `addObs`: for each date and option additional information other than option price

In [16]:
head(addObs)

6x6 DataFrame
| Row | Date       | ID                | Bid | Ask | Volume | Open_Interest |
|-----|------------|-------------------|-----|-----|--------|---------------|
| 1   | 2006-07-03 | "c_20061215_1800" | NA  | NA  | 1      | 104           |
| 2   | 2006-07-03 | "p_20061215_1800" | NA  | NA  | 0      | 5515          |
| 3   | 2006-07-03 | "c_20061215_2000" | NA  | NA  | 0      | 2152          |
| 4   | 2006-07-03 | "p_20061215_2000" | NA  | NA  | 0      | 20941         |
| 5   | 2006-07-03 | "c_20061215_2200" | NA  | NA  | 0      | 2             |
| 6   | 2006-07-03 | "p_20061215_2200" | NA  | NA  | 0      | 4626          |

### Session info

In [17]:
versioninfo()

Julia Version 0.3.6
Commit a05f87b* (2015-01-08 22:33 UTC)
Platform Info:
  System: Linux (x86_64-linux-gnu)
  CPU: Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz
  WORD_SIZE: 64
  BLAS: libopenblas (DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas
  LIBM: libopenlibm
  LLVM: libLLVM-3.3

In [18]:
Pkg.status()

20 required packages:
 - DataArrays                    0.2.15
 - DataFrames                    0.6.6
 - Dates                         0.3.2
 - Debug                         0.1.3
 - Distributions                 0.7.3
 - Docile                        0.5.3
 - GLM                           0.4.6
 - Gadfly                        0.3.12
 - IJulia                        0.2.5
 - JuMP                          0.9.1
 - Lexicon                       0.1.10
 - MAT                           0.2.12
 - NLopt                         0.2.1
 - Plotly                        0.0.3+             master
 - Quandl                        0.4.1
 - RDatasets                     0.1.2
 - Requires                      0.1.2              master
 - Taro                          0.1.4
 - TimeSeries                    0.5.9
 - Winston                       0.11.10
58 additional packages:
 - ArrayViews                    0.6.2
 - AssetMgmt                     0.0.0-             master (unregistered)
 - BinDeps                       0.3.12
 - Blosc                         0.1.2
 - Cairo                         0.2.26
 - Calculus                      0.1.6
 - Codecs                        0.1.4
 - Color                         0.4.5
 - Compat                        0.4.4
 - Compose                       0.3.12
 - Contour                       0.0.7
 - Copulas                       0.0.0-             master (unregistered)
 - DataStructures                0.3.9
 - Distances                     0.2.0
 - DualNumbers                   0.1.3
 - EconDatasets                  0.0.2+             master
 - Econometrics                  0.0.0-             master (unregistered)
 - FixedPointNumbers             0.0.7
 - GZip                          0.2.15
 - GnuTLS                        0.0.4
 - Graphics                      0.1.0
 - Grid                          0.3.9
 - HDF5                          0.4.17
 - HTTPClient                    0.1.4
 - Hexagons                      0.0.3
 - HttpCommon                    0.0.12
 - HttpParser                    0.0.11
 - ImmutableArrays               0.0.7
 - IniFile                       0.2.4
 - Iterators                     0.1.8
 - JFinM_Charts                  0.0.0-             master (unregistered)
 - JSON                          0.4.3
 - JavaCall                      0.2.2
 - KernelDensity                 0.1.0              b2c9f7d6 (dirty)
 - LibCURL                       0.1.4
 - Loess                         0.0.3
 - MathProgBase                  0.3.11
 - Memoize                       0.0.0
 - NaNMath                       0.0.2
 - Nettle                        0.1.8
 - NumericFuns                   0.2.3
 - Optim                         0.4.1
 - PDMats                        0.3.3
 - REPLCompletions               0.0.3
 - Reexport                      0.0.2
 - Requests                      0.0.8
 - ReverseDiffSparse             0.2.7
 - SHA                           0.0.4
 - Showoff                       0.0.4
 - SortingAlgorithms             0.0.5
 - StatsBase                     0.6.15
 - TimeData                      0.6.0+             master
 - Tk                            0.3.3
 - URIParser                     0.0.5
 - WoodburyMatrices              0.0.2
 - WorldBankDataTd               0.0.0-             master (unregistered)
 - ZMQ                           0.1.18
 - Zlib                          0.1.8