In [1]:
@time include("../startup_script.jl")

elapsed time: 0.492883614 seconds (52396500 bytes allocated, 5.95% gc time)
elapsed time: 50.462344727 seconds (5419744236 bytes allocated, 63.67% gc time)
elapsed time: 0.759639091 seconds (112671656 bytes allocated, 46.60% gc time)
elapsed time: 64.578535375 seconds (5419744236 bytes allocated, 70.91% gc time)
elapsed time: 139.649531764 seconds (14794155496 bytes allocated, 58.01% gc time)

6x6 DataFrame
| Row | Date       | ID                | Bid | Ask | Volume | Open_Interest |
|-----|------------|-------------------|-----|-----|--------|---------------|
| 1   | 2006-07-03 | "c_20061215_1800" | NA  | NA  | 1      | 104           |
| 2   | 2006-07-03 | "p_20061215_1800" | NA  | NA  | 0      | 5515          |
| 3   | 2006-07-03 | "c_20061215_2000" | NA  | NA  | 0      | 2152          |
| 4   | 2006-07-03 | "p_20061215_2000" | NA  | NA  | 0      | 20941         |
| 5   | 2006-07-03 | "c_20061215_2200" | NA  | NA  | 0      | 2             |
| 6   | 2006-07-03 | "p_20061215_2200" | NA  | NA  | 0      | 4626          |

In [2]:
mnyness = readtable("../data/rel_data/mnyness.csv")
@time convertColToDates!(mnyness, :Date);

elapsed time: 80.388458575 seconds (5419744236 bytes allocated, 75.98% gc time)

In [3]:
impliedVolas = readtable("../data/rel_data/implVola.csv")
@time convertColToDates!(impliedVolas, :Date);

elapsed time: 85.194807028 seconds (5419744236 bytes allocated, 78.27% gc time)

### Display relational database components

In [4]:
head(mnyness)

6x8 DataFrame
| Row | Date       | ID                | AbsMny  | SimpMny | InvMny   |
|-----|------------|-------------------|---------|---------|----------|
| 1   | 2006-07-03 | "c_20060721_4500" | 1212.69 | 1.26949 | 0.78772  |
| 2   | 2006-07-03 | "c_20060721_4600" | 1112.69 | 1.24189 | 0.805225 |
| 3   | 2006-07-03 | "c_20060721_4700" | 1012.69 | 1.21547 | 0.82273  |
| 4   | 2006-07-03 | "c_20060721_4800" | 912.69  | 1.19014 | 0.840235 |
| 5   | 2006-07-03 | "c_20060721_4850" | 862.69  | 1.17787 | 0.848987 |
| 6   | 2006-07-03 | "c_20060721_4900" | 812.69  | 1.16586 | 0.85774  |

| Row | LogMny   | LogFMny  | SclMny   |
|-----|----------|----------|----------|
| 1   | 0.238613 | 0.240167 | 1.01836  |
| 2   | 0.216634 | 0.218188 | 0.924554 |
| 3   | 0.195128 | 0.196682 | 0.832769 |
| 4   | 0.174074 | 0.175628 | 0.742917 |
| 5   | 0.163711 | 0.165266 | 0.69869  |
| 6   | 0.153455 | 0.155009 | 0.654917 |

In [5]:
head(impliedVolas)

6x3 DataFrame
| Row | Date       | ID                | IV |
|-----|------------|-------------------|----|
| 1   | 2006-07-03 | "c_20060721_4500" | NA |
| 2   | 2006-07-04 | "c_20060721_4500" | NA |
| 3   | 2006-07-05 | "c_20060721_4500" | NA |
| 4   | 2006-07-06 | "c_20060721_4500" | NA |
| 5   | 2006-07-07 | "c_20060721_4500" | NA |
| 6   | 2006-07-10 | "c_20060721_4500" | NA |